{:source-paths
 ["src/cljs"]

 :dependencies
 [[cljs-ajax "0.7.5"]
  [cheshire "5.11.0"]
  [reagent "1.1.1"]]

 :http
 {:port 9631}
 
 :dev-http
 {8020 {:root      "resources/public"
        :proxy-url "http://doi-registrar:3000"}}

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"

   :modules
   {:main ; becomes resources/public/js/main.js
    {:init-fn browser/init}}}}}
